html[data-theme="dark"] {
  background-color: $dark-secondary;

  // header
  .header {
    background-color: $dark;
  }
  .menu i {
    color: $primary;
  }
  .sidebar {
    @include set-color($dark);
  }

  // buttons
  .btn, .btn-fab, .btn-min-fab {
    color: $primary;
  }

  // card
  .card {
    @include set-color($dark);
  }

  // form
  .form {
    @include set-color($dark);
  }
  .form-field-container input {
    @include set-color($dark);
  }
  .form-field-container select {
    @include set-color($dark);
  }

  // modal
  .modal-content {
    @include set-color($dark);
  }
}
