$d-types: (none, inline, block);

@mixin d-list($screen) {
  @if $screen == $xs {
    @each $type in $d-types {
      .d-#{$type} {
        display: $type !important;
      }
    }
  } @else {
    @each $type in $d-types {
      .d-#{$screen}-#{$type} {
        display: $type !important;
      }
    }
  }
}

@each $screen, $size in $sizes {
  @if $screen == $xs {
    @include d-list($screen);
  } @else {
    @media (min-width: $size) {
      @include d-list($screen);
    }
  }
}
