$max-columns: 12;
$col-size: 8.33;
$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

%col {
  position: relative;
  width: 100%;
}

@mixin col-x-list($screen, $size) {
  @each $i in $columns {
    @if $screen == $xs {
      .col-#{$i} {
        @extend %col;
      }
    } @else {
      .col-#{$screen}-#{$i} {
        @extend %col;
      }
    }
  }
}

@mixin col-media-list($screen, $size) {
  @each $i in $columns {
    .col-#{$i} {
      max-width: $col-size * $i;
    }
  }
}
@mixin col-x-media-list($screen, $size) {
  @each $i in $columns {
    .col-#{$screen}-#{$i} {
      max-width: $col-size * $i;
    }
  }
}

@mixin col-list {
  @each $screen, $size in $sizes {
    @include col-x-list($screen, $size);

    @if $screen == $xs {
      @include col-media-list($screen, $size);
    } @else {
      @media (min-width: $size) {
        @include col-x-media-list($screen, $size);
      }
    }
  }
}

@include col-list;

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
