a {
  text-decoration: none;
}

// set bg and text color
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #000;
  } @else {
    @return #fff;
  }
}
@mixin set-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
