a {
  text-decoration: none;
}

.c-x {
  margin-left: auto;
  margin-right: auto;
}
.c-y {
  margin-top: auto;
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

// set bg and text color
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #000;
  } @else {
    @return #fff;
  }
}
@mixin set-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
