@import '../../../../assets/scss/sizes';

.header {
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  z-index: 1010;
  display: flex;
  align-items: center;
  // justify-content: space-between;

  min-height: 4rem;
  max-height: 4rem;

  .logo, .logo img {
    max-height: inherit;
  }

  .div-search-bar {
    flex-grow: 1;
  }

  .auth {
    display: inherit;
    margin-left: auto;
  }
}

@media (max-width: map-get($sizes, $md)) {
  .logo {
    margin-left: 1rem;
  }
}
