<div class="header">
  <div class="menu ml-1 d-block d-md-none">
    <i class="fa fa-bars"></i>
  </div>
  <div class="logo ml-2">
    <img src="../../../../assets/images/logo.png" alt="">
  </div>
  <div class="search-bar ml-1">
    <div class="search-icon m-1">
      <i class="fa fa-search"></i>
    </div>
    <div class="search-input mr-1">
      <input type="text" placeholder="Search">
    </div>
  </div>
  <div class="auth mr-1 d-none d-md-block">
    <button class="btn mr-1">Log In</button>
    <button class="btn-accent mr-1">Sign up</button>
    <button class="btn-warn">Logout</button>
  </div>
</div>
