<div class="header">
  <div>
    <app-side-bar></app-side-bar>
  </div>
  <div class="logo ml-2">
    <img src="../../../../assets/images/logo.png" alt="">
  </div>
  <div class="div-search-bar">
    <app-search></app-search>
  </div>
  <div class="mr-1">
    <app-toggle-theme></app-toggle-theme>
  </div>
  <div class="auth mr-1 d-none d-md-block">
    <button class="btn mr-1">Log In</button>
    <button class="btn-accent mr-1">Sign up</button>
    <button class="btn-warn">Logout</button>
  </div>
</div>
