.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #989586;
  flex-grow: 1;
  margin: 0 1.2rem;
  max-height: 2.5rem;
  border-radius: 25px 25px 25px 25px;
  background-color: #fbfbf8;

  .search-icon i {
    font-size: 20px;
  }
  .search-input, .search-input input {
    border: none;
    display: inline-flex;
    background-color: transparent;
    font-size: 15px;
    flex: 1;
  }
  .search-input input:focus {
    outline: none;
  }
}
