<!-- <div>
  <button class="btn ml-1">Log In</button>
  <button class="btn-accent ml-1">Log In</button>
  <button class="btn-warn ml-1">Log In</button>

  <button class="btn-fab ml-1"><i class="fa fa-home"></i></button>
  <button class="btn-fab-accent ml-1"><i class="fa fa-home"></i></button>
  <button class="btn-fab-warn ml-1"><i class="fa fa-home"></i></button>

  <button class="btn-min-fab ml-1"><i class="fa fa-plus"></i></button>
  <button class="btn-min-fab-accent ml-1"><i class="fa fa-plus"></i></button>
  <button class="btn-min-fab-warn ml-1"><i class="fa fa-plus"></i></button>
</div> -->

<app-header></app-header>
<app-toast></app-toast>

<router-outlet></router-outlet>
