<input type="checkbox" id="check">

<div class="menu ml-1 d-block d-md-none">
  <label for="check">
    <i class="fa fa-bars" (click)="handleClick()"></i>
  </label>
</div>

<label for="check">
  <i class="fa fa-times btn-min-fab-accent" id="cancel"></i>
</label>
<div class="sidebar">
  <header>Shoppy</header>
  <div>
    <i class="fa fa-home"></i>
    <span>Home</span>
  </div>
  <div>
    <i class="fa fa-sign-in"></i>
    <span>Login</span>
  </div>
  <div>
    <i class="fa fa-user-plus"></i>
    <span>Sign up</span>
  </div>
  <div>
    <i class="fa fa-sign-out"></i>
    <span>Logout</span>
  </div>
</div>

<!-- <div class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-nav">
      <ul class="m-1">
        <li class="m-1">Login</li>
        <li class="m-1">Sign up</li>
      </ul>
    </div>
  </div>
  <button id="sidebar-close" class="btn-fab m-1">
    <i class="fa fa-close"></i>
  </button>
</div> -->
