@import '../../../../../assets/scss/colors';
@import '../../../../../assets/scss/sizes';
@import '../../../../../assets/scss/utilities';

.menu {
  max-width: 50px;

  i {
    font-size: 150%;
    cursor: pointer;
    // color: $primary;
  }
}

// @function set-text-color($color) {
//   @if(lightness($color) > 70) {
//     @return #000;
//   } @else {
//     @return #fff;
//   }
// }
// @mixin set-color($color) {
//   background-color: $color;
//   color: set-text-color($color);
// }

.sidebar{
  position: fixed;
  width: 12rem;
  left: -240px;
  height: 100%;
  border-right: 1px solid $accent;
  transition: all .5s ease;
  top: 0;
  z-index: 1;
  @include set-color($primary);

  header{
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }

  div{
    display: block;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid $accent;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;

    i{
      font-size: 23px;
      margin-right: 16px;
    }

    span{
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
#check{
  display: none;
}
label #cancel{
  position: absolute;
  cursor: pointer;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  text-align: center;
  transition: all .5s ease;
  top: 0;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #cancel{
  margin-left: 12.5rem;
  opacity: 1;
  visibility: visible;
}
