<input type="checkbox" id="check">

<div class="menu ml-1 d-block d-md-none">
  <label for="check">
    <i class="fa fa-bars" (click)="handleClick()"></i>
  </label>
</div>

<label for="check" class="d-block d-md-none">
  <i class="fa fa-times btn-min-fab-accent" id="cancel"></i>
</label>
<div class="sidebar d-block d-md-none">
  <header>Shoppy</header>
  <div>
    <i class="fa fa-home"></i>
    <label for="check">
      <span routerLink="">Home</span>
    </label>
  </div>
  <div>
    <i class="fa fa-sign-in"></i>
    <label for="check">
      <span routerLink="login">Login</span>
    </label>
  </div>
  <div>
    <i class="fa fa-user-plus"></i>
    <label for="check">
      <span routerLink="register">Sign up</span>
    </label>
  </div>
  <div>
    <i class="fa fa-sign-out"></i>
    <label for="check">
      <span (click)="logout()">Logout</span>
    </label>
  </div>
</div>
