@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/utilities';

button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.btn-modal-close {
  top: 0;
  right: 0;
  border-radius: 5%;
}

.card-action button {
  width: 76%;
  right: 50px;
}
