@import '../../../../assets/scss/sizes';

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;

  max-width: 30%;
  padding: 10px 20px;
  line-height: 1.5rem;
  background: #cccccc;
  color: #333333;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;

  i {
    font-size: 20px;
    margin-right: 0.5rem;;
  }

  &-visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
  }

  &-success {
    background: #00c02b;
    border-color: #009d23;
    color: #ffffff;
  }

  &-error {
    background: #d50000;
    border-color: #ba0000;
    color: #ffffff;
  }
}

@media (max-width: map-get($map: $sizes, $key: $sm)) {
  .toast {
    max-width: 50%;
  }
}
